
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout_index.cshtml";
}

<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
<main>
    <section class="about-us">
        <h2 class="teali__name">The Right It Solutions</h2>
        <p class="para_ttri">
            Founded in the year 2023. We are a new startup passionate about solving problems and creating useful products.


            Our main work is around creating web products that are intuitive and easy to use.
            We as a team are also passionate about using AI techniques in our web products.

            We are focused on solutions to real life problems in the field Education,Finance and Ecommerce and building communities online.
        </p>
        <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/eaboutus1.svg" alt="Company Team" class="Company__img">
    </section>
</main>

<section>
    <!-- Trending 2 section -->
    <div class="trending-container">
        <h1 class="trending-blogs-section-heading">Our Products</h1>
        <div class="trending-cards">
            <div class="trending-card">
                <img src="/src/buonarroti-8728562.jpg" alt="Knowledge Made Easy(kme)" class="w-100">
                <h2 class="trending-blogs-card-title">Knowledge Made Easy</h2>
                <p class="trending-blogs-card-description">Our aim with this product is to bring knowledge hidden deep in physical books into digital world with enhanced user experiance. To be able to see, listen and read using all human senses to learn knowledge</p>
                <p><a href="https://kme.trit.se/">kme.trit.se</a></p>
            </div>
            <div class="trending-card">
                <img src="/src/fauxels-3184357.jpg" alt="KME Articles" class="w-100">
                <h2 class="trending-blogs-card-title">KME Articles</h2>
                <p class="trending-blogs-card-description"> Our aim here is to publish research articles that are useful and answer questions that most of the books dont answer in easy to understand and structed way</p>
                <p><a href="https://kmeblog.trit.se/">kmeblog.trit.se</a></p>
            </div>
            <div class="trending-card">
                <img src="/src/fauxels-3184357.jpg" alt="KME Books" class="w-100">
                <h2 class="trending-blogs-card-title">KME Books</h2>
                <p class="trending-blogs-card-description"> Our goal to making knowledge easy and what better way than the traditional way of books. We publish our blogs and research articles and kids story books for our users to read</p>
                <p><a href="#">Explore(link to Amazon)</a></p>
            </div>
            <div class="trending-card">
                <img src="/src/fauxels-3184357.jpg" alt="TRI Internship and Online classes" class="w-100">
                <h2 class="trending-blogs-card-title">TRI Internship</h2>
                <p class="trending-blogs-card-description"> To know is not enough one needs to apply the knowdlege one has, therefore we also offer live projects where students get to create products and solve problems through IT </p>
                <p><a href="https://forms.gle/RpMjgGBQtqkNgGKx7">Apply</a></p>
            </div>
        </div>
    </div>
</section>
@* <div class="services__container">
    <div class="row">
        <div class="col-lg-12 text-center">

            <h2 class="section-title">Our Service Area</h2>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card border-0 shadow rounded-xs pt-5">
                <div class="card-body">
                    <i class="fa fa-object-ungroup icon-lg icon-primary icon-bg-primary icon-bg-circle mb-3"></i>
                    <h4 class="mt-4 mb-3">Artificial Intelligence</h4>
                    <p>Contact us for a demo of Customized AI chat bots for your website</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card border-0 shadow rounded-xs pt-5">
                <div class="card-body">
                    <i class="fa fa-users icon-lg icon-yellow icon-bg-yellow icon-bg-circle mb-3"></i>
                    <h4 class="mt-4 mb-3">Social Activity</h4>
                    <p>For what reason would it be advisable for me to think about business content?</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card border-0 shadow rounded-xs pt-5">
                <div class="card-body">
                    <i class="fa fa-desktop icon-lg icon-purple icon-bg-purple icon-bg-circle mb-3"></i>
                    <h4 class="mt-4 mb-3">Web Design</h4>
                    <p>For what reason would it be advisable for me to think about business content?</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card border-0 shadow rounded-xs pt-5">
                <div class="card-body">
                    <i class="fa fa-cloud icon-lg icon-cyan icon-bg-cyan icon-bg-circle mb-3"></i>
                    <h4 class="mt-4 mb-3">Cloud Service</h4>
                    <p>For what reason would it be advisable for me to think about business content?</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card border-0 shadow rounded-xs pt-5">
                <div class="card-body">
                    <i class="fa fa-comments icon-lg icon-red icon-bg-red icon-bg-circle mb-3"></i>
                    <h4 class="mt-4 mb-3">Consulting</h4>
                    <p>For what reason would it be advisable for me to think about business content?</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card border-0 shadow rounded-xs pt-5">
                <div class="card-body">
                    <i class="fa fa-search-plus icon-lg icon-green icon-bg-green icon-bg-circle mb-3"></i>
                    <h4 class="mt-4 mb-3">SEO Optimization</h4>
                    <p>For what reason would it be advisable for me to think about business content?</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card border-0 shadow rounded-xs pt-5">
                <div class="card-body">
                    <i class="fa fa-user icon-lg icon-orange icon-bg-orange icon-bg-circle mb-3"></i>
                    <h4 class="mt-4 mb-3">Usability Testing</h4>
                    <p>For what reason would it be advisable for me to think about business content?</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card border-0 shadow rounded-xs pt-5">
                <div class="card-body">
                    <i class="fa fa-envelope icon-lg icon-blue icon-bg-blue icon-bg-circle mb-3"></i>
                    <h4 class="mt-4 mb-3">UX Prototyping</h4>
                    <p>For what reason would it be advisable for me to think about business content?</p>
                </div>
            </div>
        </div>
    </div>
</div> *@
<section class="our-team">

    <h1 class="section-title">Meet Our Team</h1>
    <div class="ceo__member">
    <div class="team-member">
        <img src="/src/asma.png" alt="Team Member 1">
        <h3>Asma Johansson </h3>
        <p>CEO & Founder</p>
    </div>
    </div>

    <div class="team-container col-lg-3 col-sm-6 mb-4">
        <div style="display: flex;">
        <div class="team-member">
            <img src="/src/fazalimg.JPG" alt="Team Member 2">
            <h3>Mohammad Fazaluddin</h3>
            <p>  </p>
        </div>
        <!-- Add more team members as needed -->
        <div class="team-member">
            <img src="/src/manjuimage.jpeg" alt="Team Member 3">
            <h3>Bhupathi Manjunadhan</h3>
            <p>Front-End Developer</p>
        </div>
        
        <!-- Add more team members as needed -->
        <div class="team-member">
            <img src="/src/maruthi.jpg" alt="Team Member 4">
            <h3>Banoth Maruthi</h3>
            <p>BackEnd Developer(C#) & Application Developer</p>
        </div>
        <!-- Add more team members as needed -->
        <div class="team-member">
            <img src="https://pluspng.com/img-png/png-user-icon-customer-icon-1600.png" alt="Team Member 5">
            <h3>Alagonda Nagender</h3>
            <p>content creator</p>
        </div>
        </div>
        <div style="display: flex;">
        <!-- Add more team members as needed -->
        <div class="team-member">
            <img src="https://pluspng.com/img-png/png-user-icon-customer-icon-1600.png" alt="Team Member 6">
            <h3>Kandakatla Manoj Kumar</h3>
            <p>content creator</p>
           
        </div>
        <!-- Add more team members as needed -->
        <div class="team-member">
            <img src="https://pluspng.com/img-png/png-user-icon-customer-icon-1600.png" alt="Team Member 7">
            <h3>Parveen</h3>
            <p>content creator</p>
        </div>
        <!-- Add more team members as needed -->
        <div class="team-member">
            <img src="https://pluspng.com/img-png/png-user-icon-customer-icon-1600.png" alt="Team Member 7">
            <h3>Mudrakola stella</h3>
            <p>content creator</p>
        </div>
        </div>
    </div>

</section>

<div class="space__joblist">
</div>