
@{
    ViewData["Title"] = "Career";
    Layout = "~/Views/Shared/_Layout_index.cshtml";
}

<section>
    <div class="career-cont ">
        <h1 class="st-jo">Jobboard of TRI solutions</h1>
        <p class="no-fo">Apply to Qualify.</p>
        <a href="https://forms.gle/RpMjgGBQtqkNgGKx7"><button class="apply">APPLY</button></a>
        <h2 class="prere">Prerequisites</h2>
    </div>
</section>
<!-- skill section-->
@* <section>
    <div class="skill-section">
        <div class="skill-container">
            <div class="skill-item">
                <img src="https://tse1.mm.bing.net/th/id/OIG1.VTCMKwuEViPswourPpu6?pid=ImgGn" alt="IT Sector">
                <h4>IT Sector</h4>
                <button class="view-button">View Jobs</button>
            </div>
            <div class="skill-item">
                <img src="https://tse1.mm.bing.net/th/id/OIG3.SR5cZoC89PCB2Qgonz9w?pid=ImgGn" alt="Call Center">
                <h4>Call Center</h4>
                <button class="view-button">View Jobs</button>
            </div>
            <div class="skill-item">
                <img src="https://tse2.mm.bing.net/th/id/OIG3.z1iV7Y3zgCLweWN3R3uz?pid=ImgGn" alt="BPO">
                <h4>BPO</h4>
                <button class="view-button">View Jobs</button>
            </div>
            <div class="skill-item">
                <img src="https://tse3.mm.bing.net/th/id/OIG3.FMCApSueX65GLmc9vN9R?pid=ImgGn" alt="Financial Sales">
                <h4>Financial Sales</h4>
                <button class="view-button">View Jobs</button>
            </div>
        </div>
    </div>
</section> *@
<!-------FEATURE SECTION FEATURE SECTION FEATURE SECTION------->

<!--<div class="width-100 feature-sect">

            <div class="feature-panel-1">
                <img src="https://imgv3.fotor.com/images/gallery/cartoon-character-generated-by-Fotor-ai-art-creator.jpg" class="feature-img">
                <h4 class="feature-title">DO YOU WANT TO FIND A JOB ?</h4>
        <p class="feature-desc">If you are interested in finding a job immediately, you may want to explore interim job opportunities or intern programs.</p>
                <button class="feature-btn">Find Job</button>
            </div>
   

            <div class="feature-panel-1">
                <img src="https://img.freepik.com/premium-photo/3d-adventurer-illustration-with-mountain-background-generative-ai_7023-51365.jpg" class="feature-img">
                <h4 class="feature-title"> We YOU LOOKING FOR A CANDIDATE ?</h4>
        <p class="feature-desc">The candidate should have good communication skills, be able to work well in a team, and have a track record of outperforming in their previous roles. </p>
                <button class="feature-btn">Find job</button>
            </div>
        </div>-->
 

<!-----RECENT JOB SECTION RECENT JOB SECTION RECENT JOB SECTION ----->
<section class="recent-job">
    <div class="JOB-SECTION-RECENT">
        <h2 class="recent-job-heading">RECENT JOBS</h2>
        <p class="recent-job-sub-heading">All recent jobs</p>
    </div>
        <!-----JOB LIST----->
    <div class="row">
            <div class="col-lg-6">
                <div class="job-list">
                <h4 class="job-title">Full Stack Developer with React</h4>
                    <p class="job-company">Tri IT solution   <i class="fa fa-star" aria-hidden="true"></i> | 4 Reviews </p>
                    <div class="job-details">
                        <div class="job-detail"> 0 - 1 Years</div>
                        <div class="job-detail"> No disclosed</div>
                        <div class="job-detail"> Warangal </div>
                    </div>
                <p class="job-skill"><b>Skills:</b> HTML, CSS, JavaScript,React.js,Git and Node + npm</p>
                <a href="https://forms.gle/RpMjgGBQtqkNgGKx7" class="job-apply-button">Apply Now</a>
                </div>
            </div>

            <!-- Job Listing 2 -->
            <div class="col-lg-6">
                <div class="job-list">
                <h4 class="job-title">content creator</h4>
                    <p class="job-company">Tri IT solution  <i class="fa fa-star" aria-hidden="true"></i> | 24 Reviews </p>
                    <div class="job-details">
                        <div class="job-detail"> 0 - 1 Years</div>
                        <div class="job-detail"> No disclosed</div>
                        <div class="job-detail"> Warangal </div>
                    </div>
                <p class="job-skill"><b>Skills:</b> Creativity and Innovation</p>
                <a href="https://forms.gle/RpMjgGBQtqkNgGKx7" class="job-apply-button">Apply Now</a>
                </div>
            </div>

            <!-----JOB LIST----->
            <!-- Job Listing 3 -->
            <div class="col-lg-6">
                <div class="job-list">
                <h4 class="job-title">Full stack .NET developer </h4>
                    <p class="job-company">Tri IT solution  <i class="fa fa-star" aria-hidden="true"></i> | 34 Reviews </p>
                    <div class="job-details">
                        <div class="job-detail"> 0 - 1 Years</div>
                        <div class="job-detail"> No disclosed</div>
                        <div class="job-detail"> Warangal</div>
                    </div>
                <p class="job-skill"><b>Skills:</b> C#, ASP.NET, SQL, JavaScript, jQuery,</p>
                <a href="https://forms.gle/RpMjgGBQtqkNgGKx7" class="job-apply-button">Apply Now</a>
                </div>
            </div>

            <!-- Job Listing  -->
            <div class="col-lg-6">
                <div class="job-list">
                <h4 class="job-title">App developer </h4>
                    <p class="job-company">Tri IT solution  <i class="fa fa-star" aria-hidden="true"></i> | 34 Reviews </p>
                    <div class="job-details">
                        <div class="job-detail"> 0 - 1 Years</div>
                        <div class="job-detail"> No disclosed</div>
                        <div class="job-detail"> Warangal</div>
                    </div>
                <p class="job-skill"><b>Skills:</b> iOS and android</p>
                <a href="https://forms.gle/RpMjgGBQtqkNgGKx7" class="job-apply-button">Apply Now</a>
                </div>
            </div>


        </div>
        
        <!-----JOB LIST----->
</section>
<div class="space__joblist">
</div>