
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout_index";
}
<div class="splashscreen">
    <h1>Welcome To TRI</h1>
    <p>Loading...</p>
</div>

<div class="video-background" id="home">
    <video autoplay loop muted>
        <source src="../src/video.mp4" type="video/mp4">
    </video>

</div>
<div class="text-overlay container">
    <div class="row">
        <div class="col-12">
            <h1 class="videotext">The Right IT Solutions! We are a leading provider of IT solutions for businesses across the globe.</h1>
        </div>
        <div class="col-12 mt-3">
            <a href="/Home/About" class="btn btn-warning btn-lg btn-block">Discover</a>
        </div>
    </div>
</div>